<h1>Listing text_stats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_stats.each do |text_stat| %>
  <tr>
    <td><%= text_stat.name %></td>
    <td><%= text_stat.content %></td>
    <td><%= link_to 'Show', text_stat %></td>
    <td><%= link_to 'Edit', edit_text_stat_path(text_stat) %></td>
    <td><%= link_to 'Destroy', text_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text stat', new_text_stat_path %>
